@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');

* {
    box-sizing: border-box;
	
  }

body {
    background-color: #1c1c1c;
    color: rgb(78, 78, 78);
    padding: 40px;
    font-family: Arial;
    text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
}
#wrap{
	height: 85vh;
	width: 60vh;
	border-radius: 30px;
	box-shadow: 1px 1px 1px 30px #282828;
	opacity: 1;
	animation-name: wobble;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#maindiv{
	background-color: #f6efef;
	background: linear-gradient(240deg, #f7f7f7, #00e39b, #eb005a);
	height: 85vh;
	overflow-y: auto;
	width: 60vh;
	border-radius: 30px;
	box-shadow: 1px 1px 1px 3px #00e39b;
	border-radius:25px;
	z-index:1;
	transform-origin: 50% 50%;
	animation-name: wobble;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#maindiv:hover{
	animation-play-state: paused;
}
#wrap:hover{
	animation-play-state: paused;
}

::-webkit-scrollbar {
	width: 12px;
	border-radius: 30px;
	background: transparent;
	
	
	
  }
  

  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 30px;

	
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(209, 209, 209); 
	border-radius: 30px;
	
  }
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
h2{
	color:red;
}
#likebutton {
	background-color: rgba(100, 100, 100, 0.721);
	border: none;
	color: rgb(30, 30, 30);
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
  }
#likebutton:hover{
	animation-name: speaker-on;
	animation-duration: 400ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#playbutton {
	background-color: rgba(100, 100, 100, 0.721);
	border: none;
	color: rgb(30, 30, 30);
	width: 50px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 50%;
	margin-bottom: 20px;
	top: 0;
}

.album-list {
	padding: 10px;
}

.card { 
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: 50% 50%;
	background: rgba(255, 255, 255, 0.32);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.card img {
	align-self: center;
	border-radius: 8px;

}


#albumimg{
	width: 150px;
	height: 150px;
	margin-left: 15px;
}
  
#albumformbutton{
	background-color: rgb(0, 0, 0);
    color: #00e39b;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
    font-size:1.3rem;
	width: 50%;

}

/* .speaker2{
	height: 80vh;
	width: 80vh;
	background: rgb(121, 121, 121);
	border-radius:50%;
	opacity: 0.5;
	z-index:-1;
	position: absolute;
	transform-origin: 50% 50%;
	transform: translateX(50%);
	transform: translateY(-50%);
} 

[class*="speaker2"] {

	animation-name: speaker-on;
	animation-duration: 400ms;
	
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  }
  
  &:after {
	color: #a6e22e;
	text-shadow: 0 0 10px #a6e22e;
  } */


  @keyframes speaker-on {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}


@keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(1deg); }
  50%  { -webkit-transform:  rotate(-1deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}

